<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>책 정보 등록</title>
    <link rel="stylesheet" href="/css/sub05.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
  function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }

    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }

    function inputOnlyNumberFormat(obj) {
        obj.value = onlynumber(uncomma(obj.value));
    }

    function onlynumber(str) {
	    str = String(str);
	    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1');
	}
	</script>
</head>
<body>
<div layout:fragment="content">
    <div class="contwrap1">
        <div class="cont">
            <ul class="sm">
                <li><h2>이용 안내</h2></li>
                <li><a href="#" tabindex="58">책등록하기 <span class="fr">-</span></a></li>
                <li><a href="#" tabindex="59">책리스트보기 <span class="fr">+</span></a></li>
                <li><a href="#" tabindex="60">자주하는질문 <span class="fr">-</span></a></li>
                <li><a href="#" tabindex="61">책등록하기 <span class="fr">-</span></a></li>
                <li><a href="#" tabindex="62">책리스트보기 <span class="fr">-</span></a></li>
                <li><a href="#" tabindex="63">자주하는질문 <span class="fr">-</span></a></li>
            </ul>
            <div class="title">
                <h2>도서관 마켓 서비스</h2>
                <div class="titleImg1 fl">
                    <img src="/images/ico_home.png" alt="집" />
                    <span>> 도서관 마켓 > 도서관 책 등록하기</span>
                </div>
                <div class="titleImg2 fr">
                    <a href="#" tabindex="64" class="shar"></a>
                    <a href="#" tabindex="65" class="print"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="contwrap2">
        <div class="cont">
            <div class="insertbook">
                <h2 th:unless="${modify} == 'modify'">책 정보 등록하기</h2>
                <h2 th:if="${modify} == 'modify'">책 정보 수정하기</h2>
                <form method="POST" th:action="${testForm.newTest}? @{/sub04/insert} : @{/sub05/update}" th:object="${testForm}">
                    <div class="inputbox"><span>제목 : </span><input type="text" maxlength="50" placeholder="책 제목을 입력해주세요." th:field="*{title}"/></div><br/>
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red; margin-left: 75px;"></div>
                    <div class="inputbox"><span>가격 : </span><input type="text" maxlength="10" onkeyup="inputNumberFormat(this);" placeholder="책의 가격을 입력해주세요." th:field="*{price}" class="price"/></div><br/>
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red; margin-left: 75px;"></div>
                    <div class="inputbox"><span>저자 : </span><input type="text" maxlength="30" placeholder="저자의 이름을 적어주세요." th:field="*{user}"/></div><br/>
                    <div th:if="${#fields.hasErrors('user')}" th:errors="*{user}" style="color:red; margin-left: 75px;"></div>
                    <input type="hidden" name="id" th:value="${id}">
                    <input type="hidden" th:field="*{num}">
                    <input type="submit" value="등록하기" class="save" th:unless="${modify} == 'modify'">
                    <input type="submit" value="수정하기" class="save" th:if="${modify} == 'modify'"/>
                    <p th:if="${complete}" th:text="${complete}" style="width: 100%; text-align:center; margin-top: 5px; color: blue; font-weight: bold;"></p>
                </form>
                <form method="POST" th:action="@{/sub05/delete}">
                    <input type="hidden" name="id" th:value="${id}">
                    <input type="submit" value="삭제하기" class="delete" th:if="${modify} == 'modify'"/>
                </form>
                <a th:href="@{/sub04}"><input type="button" value="목록으로" class="menu" th:if="${modify} == 'modify'"/></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>