<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>퀴즈 변경 및 삭제</title>
</head>
<body>
<!-- update및 delete -->
<h3 th:text="${title}">제목</h3>
<div th:if="${testForm.newTest}" style="margin: 10px">
  <p th:if="${delcomplete}" th:text="${delcomplete}" style="color:blue"></p>
  <p th:if="${msg}" th:text="${msg}" style="color:red"></p>

  <table border="1" th:unless="${#lists.isEmpty(list)}"
         style="table-layout: fixed;">
    <tr>
      <th>ID</th>
      <th>내용</th>
      <th>해답</th>
      <th>작성자</th>
      <th>변경</th>
      <th>삭제</th>
    </tr>
    <tr th:each="obj : ${list}" align="center">
      <td th:text="${obj.id}"></td>
      <td th:text="${obj.question}" align="left"></td>
      <td th:text="${obj.answer} == true?'O':'X'"></td>
      <td th:text="${obj.author}"></td>
      <td>
        <form method="GET" th:action="@{/test/{id}(id=${obj.id})}">
          <input type="submit" value="변경">
        </form>
      </td>
      <td>
        <form method="POST" th:action="@{/test/delete}">
          <input type="hidden" name="id" th:value="${obj.id}">
          <input type="submit" value="삭제">
        </form>
      </td>
    </tr>
  </table>
  <p th:if="${#lists.isEmpty(list)}">등록된 퀴즈가 없습니다.</p>
</div>
<p th:unless="${testForm.newTest}">
  <a href="#" th:href="@{/test}">메인 화면으로 돌아가기</a>
</p>
</body>
</html>