<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div data-role="page" id="recipe_3" class="recipe_3" data-ajax="true" layout:fragment="content">
    <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false" style="z-index:1000;">
        <div class="header_wrap">
            <a href="#" class="back_btn" data-rel="back" data-direction="reverse"></a>
            <h2 class="page_tit">레시피</h2>
            <div class="head_icon">
                <div class="basket"><a href="#"></a></div>
            </div>
        </div>
    </div><!--header-->
    <div data-role="content">
        <div class="cook_recipe_header swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="/images/recipe_show_img1.png"/></li>
                <li class="swiper-slide"><img src="/images/recipe_show_img2.png"/></li>
                <li class="swiper-slide">
                    <img src="/images/recipe_show_img3.png"/>
                    <a href="https://www.youtube.com/watch?v=Ihmn9jfrKrI&t=1s" target="_blank">
                        <div class="video_playbutton_wrap">
                            <div class="video_playbutton">
                                <svg viewBox="0 0 384 512" fill="#ffffff" width="20" height="20"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="cook_recipe_header_icons sec_width">
                <div class="recipe_bookmark"></div>
                <div class="recipe_share"></div>
                <div class="recipe_more"></div>
            </div>
        </div>
        <div class="make_recipe_wrap_background">
            <div class="sec sec_width">
                <div class="make_recipe_wrap">
                    <div class="make_recipe_user_wrap">
                        <div class="make_recipe_user">
                            <img src="/images/user.jpg" alt=""/>
                        </div>
                        <div class="make_recipe_user_name">홍길동</div>
                    </div>
                    <div class="make_recipe_user_follow">
                        <span class="make_recipe_user_followers">1560</span>
                        <span class="make_recipe_user_Following">5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec sec_width">
            <div class="cook_recipe_text">
                <p class="recipe_main_title">연두부 티라미수</p>
                <div class="time"><p class="icon"></p> <span>10분</span></div>
            </div>
            <div class="ingredient_text">
                <div class="ingredient">
                    <p class="sub_tit">재료</p>
                    <h3>
                        <span class="ingredient_name">카스텔라</span><span class="ingredient_number">1개</span>
                    </h3>
                    <h3>
                        <span class="ingredient_name">연두부</span><span class="ingredient_number">4모</span>
                    </h3>
                    <h3>
                        <span class="ingredient_name">크림치즈</span><span class="ingredient_number">300g</span>
                    </h3>
                    <h3>
                        <span class="ingredient_name">초콜릿</span><span class="ingredient_number">2개</span>
                    </h3>
                    <h3>
                        <span class="ingredient_name">뜨거운 물</span><span class="ingredient_number">1/2종이컵</span>
                    </h3>
                </div>
                <div class="ingredient">
                    <h2 class="sub_tit">양념</h2>
                    <h3>
                        <span class="ingredient_name">설탕</span><span class="ingredient_number">2숟가락</span>
                    </h3>
                    <h3>
                        <span class="ingredient_name">인스턴트커피가루</span><span class="ingredient_number">3봉</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="sec sec_width cooking_method">
            <p class="sub_tit">레시피</p>
            <div class="cooking_method_text">
                <ol>
                    <li>
                        <div>
                            <div class="method">카스텔라는 슬라이스하여 자른다.</div>
                            <img src="/images/cooking_method_img1.jpg"/>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="method">초콜릿은 강판에 갈거나 칼로 긁어낸다.</div>
                            <img src="/images/cooking_method_img2.jpg"/>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="method">연두부를 곱게 으깬 후 크림치즈, 설탕을 넣고 섞어 연두부 크림을 만든다.</div>
                            <img src="/images/cooking_method_img3.jpg"/>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="method">인스턴트커피가루에 뜨거운 물을 넣고 섞어 커피 원액을 만든다.</div>
                            <img src="/images/cooking_method_img4.jpg"/>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="method">용기에 자른 카스텔라를 넣고 커피 원액 > 연두부 크림 순으로 반복하여 쌓는다.</div>
                            <img src="/images/cooking_method_img5.jpg"/>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="method">갈아 둔 초콜릿을 가득 뿌려 완성한다.</div>
                            <img src="/images/cooking_method_img6.jpg"/>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="review_button_wrap">
            <div class="cook_review sec_width">
                <div class="review_star">
                    <p class="icon"></p>
                    <p class="review_num">&nbsp;5.0</p>
                </div>
                <button class="review_button off" sec:authorize="isAnonymous()">레시피 후기 남기기</button>
                <button class="review_button on" sec:authorize="isAuthenticated()">레시피 후기 남기기</button>
            </div>
        </div>
        <div class="sec">
            <h2 class="sub_tit sec_width">포토 후기</h2>
            <div class="recipe_review_img_list swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="/images/foodimg1.png"/></li>
                    <li class="swiper-slide"><img src="/images/foodimg2.png"/></li>
                    <li class="swiper-slide"><img src="/images/foodimg3.png"/></li>
                    <li class="swiper-slide"><img src="/images/foodimg4.png"/></li>
                    <li class="swiper-slide"><img src="/images/foodimg5.png"/></li>
                    <li class="swiper-slide"><img src="/images/foodimg6.png"/></li>
                </ul>
            </div>
            <div class="user_review_list cf sec_width">
                <div class="user_review_wrap">
                    <div class="user_review">
                        <div class="user_profile">
                            <img src="/images/user.jpg" alt=""/>
                        </div>
                        <div class="user_comment">
                            <div class="user_name">
                                <h2>행복맘</h2>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                            </div>
                            <div class="comment">티라미수를 무척 좋아하는데 오늘 해봐야겠네요</div>
                            <div class="user_comment_time">
                                <p>3일전</p>
                                <div><p class="icon good"></p>11</div>
                                <div><p class="icon comm"></p>2</div>
                            </div>
                        </div>
                    </div>
                    <div class="user_cookimg">
                        <img src="/images/foodimg10.jpg" alt="" />
                    </div>
                </div>
                <div class="user_review_wrap">
                    <div class="user_review">
                        <div class="user_profile">
                            <img src="/images/user.jpg" alt=""/>
                        </div>
                        <div class="user_comment">
                            <div class="user_name">
                                <h2>최은영</h2>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                            </div>
                            <div class="comment">넘맛있을것같아요..자꾸해달라함어쩌지요~??ㅋㅋ</div>
                            <div class="user_comment_time">
                                <p>3일전</p>
                                <div><p class="icon good"></p>11</div>
                                <div><p class="icon comm"></p>2</div>
                            </div>
                        </div>
                    </div>
                    <div class="user_cookimg">
                        <img src="/images/foodimg11.jpg" alt="" />
                    </div>
                </div>
                <div class="user_review_wrap">
                    <div class="user_review">
                        <div class="user_profile">
                            <img src="/images/user.jpg" alt=""/>
                        </div>
                        <div class="user_comment">
                            <div class="user_name">
                                <h2>하얀곰돌a</h2>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                                <div class="icon star"></div>
                            </div>
                            <div class="comment">간단하고 예뻐요! 진짜 굿아이디어네요~ 누텔라바르니 맛도 더 좋네요~~ </div>
                            <div class="user_comment_time">
                                <p>3일전</p>
                                <div><p class="icon good"></p>11</div>
                                <div><p class="icon comm"></p>2</div>
                            </div>
                        </div>
                    </div>
                    <div class="user_cookimg">
                        <img src="/images/foodimg4.png" alt="" />
                    </div>
                </div>
            </div>
            <div id="cook_review" class="cook_review_wrap">
                <form class="cook_review_body" action="#" method="post">
                    <div class="cook_review_header">
                        <div class="cook_review_close">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="cook_review_center">
                            <h2>요리후기</h2>
                            <div class="cook_review_star">
                                <label for="star_wrap01" class="star_wrap">
                                    <input type="checkbox" id="star_wrap01">
                                    <p class="icon star"></p>
                                </label>
                                <label for="star_wrap02" class="star_wrap">
                                    <input type="checkbox" id="star_wrap02">
                                    <p class="icon star"></p>
                                </label>
                                <label for="star_wrap03" class="star_wrap">
                                    <input type="checkbox" id="star_wrap03">
                                    <p class="icon star"></p>
                                </label>
                                <label for="star_wrap04" class="star_wrap">
                                    <input type="checkbox" id="star_wrap04">
                                    <p class="icon star"></p>
                                </label>
                                <label for="star_wrap05" class="star_wrap">
                                    <input type="checkbox" id="star_wrap05">
                                    <p class="icon star"></p>
                                </label>

                            </div>
                            <div class="tip">
                                <p class="icon notice"></p>
                                <span>요리 팁, 무엇을 적을지 고민이라면!</span>
                            </div>
                            <div class="tip_box_wrap">
                                <p class="tip_box">재료응용</p>
                                <p class="tip_box">불 쎄기</p>
                                <p class="tip_box">익힘 정도</p>
                                <p class="tip_box">인분 조절</p>
                            </div>
                        </div>
                        <input type="submit" value="저장" class="cook_review_save" form="">
                    </div>
                    <textarea name="userMessage" id="userMessage" cols="30" rows="10"></textarea>
                    <div class="review_plus">
                        <label for="cook_review_plusimg"><img src="/images/insert_img.svg" alt="" id="fileimg0"/></label>
                        <input type="file" name="cook_review_plusimg" id="cook_review_plusimg" onchange="loadFile(this, 0)">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui_fixed" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <ul>
            <li class="home">
                <a href="/" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon home"></p>홈</a>
            </li>
            <li class="search">
                <a href="/mobile/search" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon search"></p>검색</a>
            </li>
            <li class="recipe on">
                <a href="/mobile/recipe" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon recipe"></p>레시피</a>
            </li>
            <li class="user">
                <a href="#" class="ui-btn ui-corner-all on" data-role="button" data-ajax="false" sec:authorize="isAnonymous()"><p class="icon user"></p>MY</a>
                <a href="/user/my_page" class="ui-btn ui-corner-all" data-ajax="false" sec:authorize="isAuthenticated()"><p class="icon user"></p>MY</a>
            </li>
        </ul>
    </div><!--ui_fixed-->
</div><!--recipe_3_page_wrap-->
</body>
</html>