<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div id="recipe_page" class="recipe_menu" data-role="page" data-url="recipe_page" layout:fragment="content">
  <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
    <div class="header_wrap">
      <!-- <h1 id="logo"><a href=""><img src="" alt=""></a></h1> -->
      <a href="#" class="back_btn" data-rel="back" data-direction="reverse"></a>
      <h2 class="page_tit">레시피 종류</h2>
      <div class="head_icon">
        <div class="basket"><a href="#"></a></div>
      </div>
    </div>
  </div><!--header-->
  <div class="conts_wrap" data-role="content">
    <div class="sec sec_width">
      <ul class="recipe_menu_list">
        <li>
          <a href="#recipe2_1">
            <p class="icon icon01"></p>
            <p class="tit">도시락/김밥</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon02"></p>
            <p class="tit">햄버거/샌드위치</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon03"></p>
            <p class="tit">라면/면</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon04"></p>
            <p class="tit">치킨</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon05"></p>
            <p class="tit">디저트/빵/과자</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon06"></p>
            <p class="tit">음료수/차/유제품</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon07"></p>
            <p class="tit">술/술안주</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon08"></p>
            <p class="tit">즉석식품</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="icon icon09"></p>
            <p class="tit">냉장간편식품</p>
          </a>
        </li>
      </ul>
    </div>
  </div><!--content-->
  <div class="ui_fixed" data-role="footer" data-position="fixed" data-tap-toggle="false">
    <ul>
      <li class="home">
        <a href="#main_page" class="ui-btn ui-corner-all" data-role="button"><p class="icon home"></p>홈</a>
      </li>
      <li class="search">
        <a href="#search_page" class="ui-btn ui-corner-all" data-role="button"><p class="icon search"></p>검색</a>
      </li>
      <li class="recipe on">
        <a href="#recipe_page" class="ui-btn ui-corner-all" data-role="button"><p class="icon recipe"></p>레시피</a>
      </li>
      <li class="user">
        <a href="#" class="ui-btn ui-corner-all" data-role="button"><p class="icon user"></p>MY</a>
      </li>
    </ul>
  </div><!--ui_fixed-->
</div><!--recipe_main_page_wrap-->
</body>
</html>