<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>useThymeleaf</title>
</head>
<body>
    <h1 th:text="'hello world'">표시하는 부분</h1>
    <h1>안녕하세요! [[${name}]]씨</h1>
    <h1 th:text="'오늘의 날씨는 ' + '맑음 ' + '입니다'">표시하는 부분</h1>
    <h1 th:text="|안녕하세요 ${name}씨|">표시하는 부분</h1>
    <div th:with="a=1, b=2">
        <span th:text="|${a} + ${b} = ${a+b}|"></span>
    </div>
    <span th:text="1 > 10"></span>
    <span th:text="1 < 10"></span>
    <span th:text="1 >= 10"></span>
    <span th:text="1 <= 10"></span>
    <span th:text="1 == 10"></span>
    <span th:text="1 != 10"></span>
    <span th:text="길동 == 길동"></span>
    <span th:text="길동 != 길동"></span>

    <hr>
    <p th:text="${name} == '이순신'? '이순신입니다!':'이순신이 아닙니다'"></p>
    <div th:if="${name} == '이순신'">
        <p>이순신씨입니다!</p>
    </div>
    <div th:unless="${name} == '영희'">
        <p>영희씨가 아닙니다</p>
    </div>
    <th:block th:if="${name} == '이순신'">
        <p>이순신씨입니다!</p>
    </th:block>

    <hr>
    <div th:switch="${name}">
        <p th:case="이순신" th:text="|${name}입니다!|"></p>
        <p th:case="영희" th:text="|${name}입니다!|"></p>
        <p th:case="철수" th:text="|${name}입니다!|"></p>
        <p th:case="*" th:text="명부에 없습니다"></p>
    </div>
    <th:block th:object="${mb}">
        {}로 접근: <span th:text="*{id}">ID</span> - <span th:text="*{name}">이름</span> <br/>
        []로 접근: <span th:text="*{['id']}">ID</span> - <span th:text="*{['name']}">이름</span>
    </th:block>

    <hr>
    <span th:text="${list[0]}">방위</span>
    <span th:text="${list[1]}">방위</span>
    <span th:text="${list[2]}">방위</span>
    <span th:text="${list[3]}">방위</span> <br/>

    <span th:text="${map.lee.name}">이름 2</span> <br/>
    <span th:text="${map['lee']['name']}">이름 2</span>

    <div th:each="member : ${members}">
        <p>[[${member.id}]] : [[${member.name}]]</p>
    </div>

    <hr/>
    <div th:each="member, s: ${members}" th:object="${member}">
        <p>
            index-> [[${s.index}]], count-> [[${s.count}]],
            size-> [[${s.size}]], current-> [[${s.current}]],
            even-> [[${s.even}]], odd-> [[${s.odd}]],
            first-> [[${s.first}]], last-> [[${s.last}]],
            [[*{id}]] : [[*{name}]]
        </p>
    </div>

    <div th:with="x=1000000, y=123456.789">
        정수 형식: <span th:text="${#numbers.formatInteger(x,3,'COMMA')}"></span>
        <br/>
        부동 소수점 형식: <span th:text="${#numbers.formatDecimal(y,3,'COMMA',2,'POINT')}"></span>
    </div>
    <br/>
    <div th:with="today=${#dates.createNow()}">
        yyyy/mm/dd 형식: <span th:text="${#dates.format(today, 'yyyy/MM/dd')}"></span><br/>
        yyyy년 mm월 dd일 형식: <span th:text="${#dates.format(today, 'yyyy년 MM월 dd일')}"></span><br/>
        yyyy년: <span th:text="${#dates.year(today)}"></span><br/>
        MM월: <span th:text="${#dates.month(today)}"></span><br/>
        dd일: <span th:text="${#dates.day(today)}"></span><br/>
        요일: <span th:text="${#dates.dayOfWeek(today)}"></span><br/>
    </div>

    <div th:with="str1='abcdef'">
        대문자 변환: <span th:text="${#strings.toUpperCase(str1)}"></span><br/>
        빈 문자열 판정: <span th:text="${#strings.isEmpty(str1)}"></span><br/>
        길이: <span th:text="${#strings.length(str1)}"></span><br/>
    </div>

    <h1>Fragment를 아래에 삽입하기</h1>
    <div id="one" th:insert="fragment :: one"></div>
    <div id="three" th:replace="fragment :: three"></div>
</body>
</html>