<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div data-role="page" class="search_result" id="search_info_recipe_page" layout:fragment="content" data-ajax="true">
  <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
    <div class="header_wrap">
      <!-- <h1 id="logo"><a href=""><img src="" alt=""></a></h1> -->
      <a href="#" class="back_btn" data-rel="back" data-direction="reverse"></a>
      <input type="search" name="search" class="main_search" placeholder="검색어를 입력해 주세요.">
      <div class="head_icon">
        <div class="basket"><a href="#"></a></div>
      </div>
    </div>
  </div><!--header-->
  <div id="section" class="conts_wrap" data-role="content">
    <div class="search_result_text">
      <div class="head_text sec_width">
        <p>총 {{search_num}}개의 레시피를 찾았습니다.</p>
        <a href="#" class="more">더보기</a>
      </div>
    </div>
    <div class="sec">
      <ul class="tab_menu sec_width">
        <li class="on"><a href="#">레시피</a></li>
        <li class="line"><a href="#">편의점 상품</a></li>
      </ul>
    </div>
    <div class="food_cont_list">
      <ul class="food_cont sec_width">
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg1.png" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">연두부 티라미수</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg7.png" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">생크림파이 티라미수</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg8.jpg" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">티라미수 라떼</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg9.jpg" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">티라미수 마카롱</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg10.jpg" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">바나나 티라미수 케익</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="/mobile/recipe3" data-ajax="false">
            <p class="recipe_img img">
              <img src="/images/foodimg11.jpg" alt="레시피 이미지"/>
            </p>
            <div class="cont_info">
              <p class="tit">티라미수 컵케익</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <ul class="food_cont sec_width">
        <li class="food_img">
          <a href="/mobile/search_map_page" data-ajax="false">
            <p class="img">
              <img src="/images/new_tuna.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">삼각)뉴참치마요골드</p>
              <p class="name">GS25편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="#">
            <p class="img">
              <img src="/images/crispy_tuna.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">삼각)겉바속촉 참치마요</p>
              <p class="name">CU편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="#">
            <p class="img">
              <img src="/images/bibim_tuna.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">삼각)비빔참치마요</p>
              <p class="name">GS25편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="#">
            <p class="img">
              <img src="/images/full_tuna.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">삼각)듬뿍참치마요네즈</p>
              <p class="name">세븐일레븐편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="#">
            <p class="img">
              <img src="/images/depa_ramen.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">컵라면)대파 라면</p>
              <p class="name">emart24편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
        <li class="food_img">
          <a href="#">
            <p class="img">
              <img src="/images/kimchizzige.png" alt=""/>
            </p>
            <div class="cont_info">
              <p class="tit">컵라면)오모리 김치찌개 라면</p>
              <p class="name">세븐일레븐편의점</p>
              <div class="review_wrap">
                <p class="star icon"></p>
                <p class="score">5.0</p>
                <p class="rview_num">(311)</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ui_fixed" data-role="footer" data-position="fixed" data-tap-toggle="false">
    <ul>
      <li class="home">
        <a href="/" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon home"></p>홈</a>
      </li>
      <li class="search on">
        <a href="/mobile/search" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon search"></p>검색</a>
      </li>
      <li class="recipe">
        <a href="/mobile/recipe" class="ui-btn ui-corner-all" data-role="button" data-ajax="false"><p class="icon recipe"></p>레시피</a>
      </li>
      <li class="user">
        <a href="#" class="ui-btn ui-corner-all on" data-role="button" data-ajax="false" sec:authorize="isAnonymous()"><p class="icon user"></p>MY</a>
        <a href="/user/my_page" class="ui-btn ui-corner-all" data-ajax="false" sec:authorize="isAuthenticated()"><p class="icon user"></p>MY</a>
      </li>
    </ul>
  </div><!--ui_fixed-->
</div> <!-- #search_info_recipe_page end -->
</body>
</html>